/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
h1{
  color: blue;
  font-family: cursive;
  font-size: 75px;
}
tr{
  font-size: 30px;
  font-style: italic;
  color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

td{
  color: pink;
  font-family: sans-serif;
  align-content: flex-end;

}
a{
    color: purple;
}
